li{
  list-style: none;
}
.breadcrum{
  margin-bottom: 30px;
}
.table-container{
  margin-top: 20px;
}
.table-title{
  font-size: 20px;
}
.table-toolbar{
  margin-bottom: 20px;
  height: 30px;
}
.table-page{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.pull-right{
  float: right;
}
.mleft{
  margin-left: 20px;
}
.label{
  display: inline-block;
  width: 60px;
  text-align: right;
}
.status-success{
  color: #22c36a;
}
.status-error{
  color: red;
}

.cost-color{
  color: red;
}

.label-name{
 margin-right: 20px;
}

.tag-list{
 padding: 15px 0px;
  margin-bottom: 15px;
 border-top: 1px solid gainsboro;
 border-bottom: 1px solid gainsboro;
}

.footer{
  text-align: center;
  padding-top: 30px;
}
